body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

#weather-app-wrapper {
  max-width: 520px;
  margin: 0 auto;
  position: relative;
}

#weather-app.am {
  box-shadow: 5px 2px 50px rgb(237, 207, 15);
}
#weather-app.pm {
  box-shadow: 5px 2px 50px rgb(22, 7, 91);
}
#weather-app {
  background: white;
  height: 550px;
  border: 4px solid #dadde1;
  border-radius: 4px;
  padding-left: 35px;
}

#search-field {
  width: 300px;
  height: 40px;
  margin-top: 30px;
  margin-right: 20px;
  border: 1px solid #dadde1dd;
  border-width: 4px;
  border-radius: 6px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
#city-name {
  font-size: 50px;
  margin-bottom: 1px;
}
#date-element {
  margin-bottom: 1px;
}
#weather-description {
  margin-top: 5px;
  margin-bottom: 20px;
}
#weather-description:first-letter {
  text-transform: capitalize;
}
#weather-icon {
  transform: scale(1.5);
  display: inline-block;
  height: 60px;
  margin-top: unset;
  vertical-align: top;
  width: 60px;
}
#temperature-value {
  display: inline;
  font-size: 60px;
  font-weight: 400px;
  line-height: 56px;
}
#celsius-link {
  text-decoration: none;
  font-size: 20px;
}

#fahrenheit-link {
  text-decoration: none;
  font-size: 20px;
}
.btn {
  width: 100px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.reference {
  position: absolute;
}

.temperature-units .active {
  color: black;
  cursor: default;
}

.temperature-units .active:hover {
  text-decoration: none;
}
