body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

#weather-app-wrapper {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
}

#weather-app.am {
  background: linear-gradient(
    109.6deg,
    rgb(156, 207, 249) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
  box-shadow: 5px 2px 50px rgb(178, 246, 255);
}

#weather-app.pm {
  background: linear-gradient(
    109.6deg,
    rgb(146, 164, 179) 11.2%,
    rgb(235, 246, 251) 100.2%
  );
  box-shadow: 5px 2px 50px rgb(73, 72, 74);
}
#weather-app {
  background: white;
  height: 435px;
  border: 4px solid #040505;
  border-radius: 4px;
  padding-left: 35px;
}

#search-field {
  width: 400px;
  height: 40px;
  margin-top: 30px;
  margin-left: 10px;
  border: 1px solid #040505;
  border-width: 4px;
  border-radius: 6px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}
#city-name {
  text-shadow: 0px 0px 30px white;
  font-size: 50px;
  margin-bottom: 1px;
  margin-left: 10px;
}
#date-element {
  text-shadow: 0px 0px 30px white;
  margin-bottom: 1px;
  margin-left: 10px;
}
#weather-description {
  text-shadow: 0px 0px 30px white;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
}
#weather-description:first-letter {
  text-transform: capitalize;
}
#weather-icon {
  transform: scale(1.25);
  display: inline-block;
  height: 60px;
  margin-top: unset;
  margin-left: 50px;
  vertical-align: top;
  width: 60px;
  filter: drop-shadow(5px 5px 5px #f6f4f4);
}
#temperature-value {
  text-shadow: 0px 0px 30px white;
  display: inline;
  font-size: 60px;
  font-weight: 400px;
  line-height: 56px;
}
#celsius-symbol {
  text-shadow: 0px 0px 30px white;
  text-decoration: none;
  font-size: 20px;
}

#forecast-day {
  opacity: 0.7;
}
#forecast-icon {
  filter: drop-shadow(5px 5px 5px #fffdfd);
}
#forecast-temp-max {
  font-size: 13px;
}

#forecast-temp-min {
  font-size: 13px;
  opacity: 0.7;
}

.btn {
  width: 150px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.reference {
  position: absolute;
}

.temperature-units .active {
  color: black;
  cursor: default;
}

.temperature-units .active:hover {
  text-decoration: none;
}
